* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    position: fixed;
    background: rgba(0, 168, 0, 0.692);
    padding: 8px 14px;
    z-index: 1;
}
.main-nav__item{
    display: inline-block;
    margin:0 16px;
}
.main-nav__item a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #fff;
    border-bottom: 5px solid white;
}
.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item-cta a{
    color: white;
    background: red;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item-cta a:active,
.main-nav__item-cta a:hover{
    color: red;
    background: white;
    border: none;
}  

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 80px);
    vertical-align: middle;
}
.main_header_logo{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.button{
    background: darkgreen;
    color: white;
    font: inherit;
    border: 1px solid none;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    color: darkgreen;
    background: white;
}
.button:focus{
    outline: none;
}

.main-footer{
    color: white;
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link{
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a{
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover, 
.main-footer__link a:active{
    color: #ccc;
}